@import url("https://use.typekit.net/jxw0jvb.css");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

.bg-nav {
  background-color: rgb(255 255 255 / 80%) !important;
}

body {
  margin: 0;
  padding: 0;
}

.text {
  color: #272a31;
}

.accent {
  color: #ec5242;
}

.gray {
  color: #d3d3d3;
}

* {
  font-family: lato, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.container {
  width: 90%;
}

section {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-sm-1 {
  width: 8.33%;
}

.col-sm-2 {
  width: 16.66%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.32%;
}

.col-sm-5 {
  width: 41.65%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.31%;
}

.col-sm-8 {
  width: 66.64%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.3%;
}

.col-sm-11 {
  width: 91.63%;
}

.col-sm-12 {
  width: 100%;
}

.site-title {
  display: none;
}

.top-nav {
  display: none;
}

.navbar {
  min-height: 48px !important;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  align-items: center;
  background-color: transparent;
  left: 0;
  z-index: 999;
  top: 0;
  position: absolute;
}

.navbar .main-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.navbar .main-nav .main-menu {
  position: fixed;
  right: -110%;
  gap: 0 !important;
  top: 77px;
  flex-direction: column;
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  text-align: left !important;
  transition: 0.3s;
  align-items: flex-start !important;
  height: 100vh;
  z-index: 999;
  list-style-type: none;
}

.navbar .main-nav .main-menu.active {
  right: 0;
  margin-top: 0;
}

.navbar .main-nav .main-menu .nav-item {
  margin: 8px 0;
}

.navbar .main-nav .main-menu .nav-item .nav-link {
  text-decoration: none;
  color: #272a31;
  font-size: 32px;
  line-height: 44px;
  padding: 8px 16px !important;
  text-align: left !important;
}

.navbar .main-nav .main-menu .nav-item .nav-link:hover {
  color: #ec5242;
}

.menu-ico {
  display: block;
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #272a31;
}

.menu-ico.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-ico.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #93a79d;
}

.menu-ico.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #93a79d;
}

#banner {
  background-image: url("../images/bg-music.jpg");
  background-position: center;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-overlay {
  background-image: url("../images/bg-main.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 90px;
}

.banner-text {
  text-align: left;
}

.greeting {
  font-size: 24px;
  line-height: 100%;
  margin: 0;
}

.banner-heading {
  margin: 0;
  line-height: 100%;
  background: url("../images/bg-music.jpg") center no-repeat;
  -webkit-text-fill-color: transparent;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  /* stylelint-disable-next-line */
  background-clip: text;
  text-transform: uppercase;
  font-family: COCOGOOSE, sans-serif;
}

.info-box {
  background-color: rgb(211 211 211 / 20%);
  color: #272a31;
  padding: 24px;
  border: 2px solid white;
  margin: 48px 0;
}

.banner-schedule {
  font-size: 44px;
  font-family: COCOGOOSE, sans-serif;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.spacer-auto {
  height: 24px;
}

.spacer-12 {
  height: 12px;
}

.spacer-24 {
  height: 24px;
}

.spacer-48 {
  height: 48px;
}

.spacer-58 {
  height: 58px;
}

.spacer-64 {
  height: 64px;
}

.separator {
  height: 3px;
  background-color: #ec5242;
  width: 60px;
  margin-top: 5px;
}

.separator-gray {
  height: 3px;
  background-color: #d3d3d3;
  width: 48px;
  margin-top: 5px;
}

hr {
  height: 2px;
  background-color: #d3d3d3;
}

#program {
  background-image: url("../images/bg-dark.png");
  background-repeat: repeat;
}

.card {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211 211 211 / 20%);
}

.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card-icon i {
  font-size: 48px;
  color: #d3d3d3;
}

#performers .card-list {
  gap: 24px;
}

.card-performer {
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: auto;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: center;
}

.card-performer:nth-child(n+3) {
  display: none;
}

.performers-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.performers-text .name {
  font-size: 24px;
  margin: 0;
}

.performers-text .designation {
  font-style: italic;
  margin: 0;
}

.performers-text p {
  margin: 0;
}

.performer-photo {
  width: 100%;
  padding: 10% 0 0 10%;
  background-image: url("../images/bg-chessboard.png");
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1/1;
}

button,
.button {
  padding: 24px 48px;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #ec5242;
  color: #d3d3d3;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(236 82 66 / 95%);
}

.btn-white {
  background-color: white;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.btn-white i {
  color: #ec5242;
}

.btn-program {
  text-decoration: none;
}

#about .banner-text {
  text-align: center;
}

#about .logo-box {
  background-color: white;
  border: 2px solid #d3d3d3;
  padding: 24px;
}

.partner-logos img {
  height: 50px;
  width: auto;
}

#about .logo-box img {
  width: 100%;
  height: auto;
}

#about .past-programs-list {
  gap: 24px;
}

#about .past-programs {
  position: relative;
}

#about .past-program-thumb {
  width: 100%;
  aspect-ratio: 4/3;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-object-fit: cover;
  object-fit: cover;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -o-object-position: center;
  object-position: center;
  filter: grayscale(100%);
}

#about .past-program-overlay {
  background-color: rgb(236 82 66 / 75%);
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

#about .past-program-overlay .program-year {
  font-size: 32px;
}

#about .past-program-overlay .program-desc {
  font-weight: bold;
}

#partners {
  background-color: #414246;
}

#home #partners {
  display: none !important;
}

.partner-logos {
  flex-flow: row wrap !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 24px;
}

.grayscale {
  filter: grayscale(1);
}

.invert {
  filter: invert(1);
}

footer {
  display: flex;
  flex-direction: row;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
}

#home footer {
  display: none;
}

footer .footer-logo {
  max-height: 40px;
  width: auto;
}

.d-grid {
  display: grid !important;
  transition: all 500ms ease;
}

@media screen and (max-width: 580px) {
  .banner-heading {
    font-size: 36px;
  }

  .banner-schedule {
    font-size: 24px;
  }

  .container {
    width: 90%;
  }

  .card {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211 211 211 / 20%);
  }

  .card i {
    font-size: 32px;
  }

  .card h3 {
    font-size: 14px;
  }

  .card p {
    font-size: 12px;
  }

  .performers-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .performers-text .name {
    font-size: 14px;
    margin: 0;
  }

  .performers-text .designation {
    font-style: italic;
    margin: 0;
    font-size: 12px;
  }

  .performers-text p {
    margin: 0;
    font-size: 12px;
  }

  .spacer-auto {
    height: 8px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
  }

  footer .footer-logo {
    max-height: 40px;
    width: auto;
  }

  footer .rights {
    text-align: center !important;
  }
}

@media screen and (min-width: 768px) {
  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.32%;
  }

  .col-md-5 {
    width: 41.65%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.31%;
  }

  .col-md-8 {
    width: 66.64%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3%;
  }

  .col-md-11 {
    width: 91.63%;
  }

  .col-md-12 {
    width: 100%;
  }

  .top-nav {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #272a31;
    padding: 0 5%;
    width: 100%;
  }

  .top-nav .top-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin: 5px 0;
  }

  .top-nav .top-menu .top-nav-link {
    font-size: small;
    text-decoration: none;
    color: #d3d3d3;
  }

  .top-nav .top-menu .top-nav-link:hover {
    color: #ec5242;
  }

  .navbar {
    background-color: white;
    position: fixed;
    width: 100%;
  }

  .nav-logo {
    height: 30px;
    width: auto;
  }

  .main-nav {
    padding: 0 !important;
    justify-content: space-between;
    flex-direction: row;
  }

  .site-title {
    display: block;
  }

  .menu-ico {
    display: none;
  }

  .main-menu {
    position: relative !important;
    display: flex;
    flex-direction: row !important;
    width: 100%;
    text-align: right !important;
    transition: 0.3s;
    align-items: center !important;
    z-index: 999;
    list-style-type: none;
    justify-content: flex-end;
    right: 0 !important;
    background: transparent !important;
    top: 0 !important;
    height: auto !important;
  }

  .nav-item {
    margin: 0 !important;
  }

  .nav-link {
    font-size: 16px !important;
    line-height: 100%;
    transition: 500ms ease;
  }

  .nav-link#campaign {
    border: 2px solid #ec5242;
    color: #ec5242;
  }

  .nav-link#campaign:hover,
  .nav-link#campaign:active {
    color: #272a31;
    border-color: #272a31;
  }

  .nav-link:hover {
    color: #ec5242;
  }

  #banner .container {
    align-items: flex-start !important;
  }

  #banner .info-box {
    width: 70%;
  }

  #program .card-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 8px;
  }

  #program .card-list .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211 211 211 / 20%);
    text-align: center;
    padding: 24px 16px;
    width: 20%;
    transition: 500ms ease;
  }

  #program .card-list .card:hover {
    border: 2px solid #d3d3d3;
    transform: scale(1.05);
    cursor: pointer;
  }

  #performers .card-list {
    display: grid;
    grid-template-columns: 50% 50%;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
    padding: 0 10%;
  }

  #performers .btn-white {
    display: none;
  }

  #performers .performer-photo {
    background-image: url("../images/bg-chessboard-gray.png");
  }

  .performers-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .performers-text .name {
    font-size: 14px;
    margin: 0;
  }

  .performers-text .designation {
    font-style: italic;
    margin: 0;
    font-size: 12px;
  }

  .performers-text p {
    margin: 0;
    font-size: 12px;
  }

  .partner-logos {
    justify-content: space-around;
  }

  .card-performer:nth-child(n+3) {
    display: grid !important;
  }

  footer {
    display: flex;
    flex-direction: row;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  #home #partners,
  #home footer {
    display: flex !important;
  }

  #about #banner .container {
    align-items: center !important;
  }

  #about .past-programs-list {
    flex-direction: row;
  }

  #about #partners {
    display: none;
  }

  #about footer {
    background-color: #272a31;
    color: white;
  }

  #about footer .footer-logo {
    filter: invert(1);
  }

  .spacer-auto {
    height: 8px;
  }

  .btn-program {
    background: transparent;
    text-decoration: underline;
    text-transform: uppercase;
    color: #d3d3d3;
    font-size: 18px;
    padding: 0;
    transition: 500ms ease;
  }

  .btn-program:hover {
    color: #ec5242;
    background: transparent;
  }

  .home-link {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .performers-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .performers-text .name {
    font-size: 24px;
    margin: 0;
  }

  .performers-text .designation {
    font-style: italic;
    margin: 0;
    font-size: 18px;
  }

  .performers-text p {
    margin: 0;
    font-size: 18px;
  }
}
